.characters__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.characters__card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.character__info {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.characters__card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.characters__card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.4s;

  &:hover {
    transform: scale(1.1);
  }
}
