.login__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login__box {
    background: white;
    border-radius: 15px;
    min-width: 25%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form__error {
    color: red;
}